<br>
<div class="container card bg-light">

<p id="notice"><%= notice %></p>


<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>
<div>
	<%= link_to 'Edit', edit_user_path(@user), class: "btn btn-warning" %> 

</div>
<br>
<div>
	<%= link_to 'Back', users_path, class: "btn btn-light" %>
</div>

</div>